<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi, I'm Lily. I'm a multifaceted Computer Science professional, fluent in several programming languages including Java, Python, JavaScript, R, R Markdown, HTML5/CSS, Unix, and MATLAB. My proficiency in database query languages extends to Snowflake, MySQL, Oracle SQL, and AWS.
           I am skilled at working with frameworks like React, Django, Angular, Spring Boot, and Git. My expertise in Machine Learning spans Regression models (Linear, Logistic, Lasso, Ridge), Random Forest, and Neural Network applications. I also hold an AWS Certified Solutions Architect Associate certification.</p>
      
         </div>
      <div class="col-lg-4 ">
        <p>Throughout my academic and professional journey, I've actively engaged in various research projects. 
          A key project was on 'Bayesian Compositional Data Analysis with Informative Priors' where I integrated Bayesian (SSL) regression for parameter estimation and variable selection. Additionally, I've worked on several projects involving Machine Learning and data analysis, like 'Paper Abstract Partitioning for PUBMED RCT Dataset Based on Machine Learning' and 'Prediction of the stock market on LSTM modeling'.</p>
       
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
